body {
  background: url("http://upload.wikimedia.org/wikipedia/commons/9/94/Pacific-centric-map.png") no-repeat center fixed;
  background-size: cover;
}

p {
  font-size: 38px;
  color: #19B9F9;
  font-family: 'Tangerine', cursive;
  text-align: center;
}

h2 {
  font-family: 'Chewy', cursive;
  font-size: 70px;
  padding: 80px 0;
  text-align: center;
  color: rgba(18,66,27,.85)
}

div {
  background: rgba(18,66,27,.7);
}
a {
  font-size: 38px;
  color: #19B9F9;
  font-family: 'Tangerine', cursive;
}
ul {
  margin-top: 20px;
  padding: 40px;
}
li {
  display: inline-block;
  padding: 40px 100px 0 100px;
}
img {
  width: 200px;
}

.fix {
  padding: 7px 0;
}
.size{
  width:300px;
}

#allonsy {
  background: radial-gradient(circle, rgba(18,66,27,1) 15%, transparent 40%);
  background: -webkit-radial-gradient(circle, rgba(29,108,186,1) 25%, transparent 75%), transparent;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  height: 250px;
  width: 250px;
  border-radius: 200px;
  margin: -50px auto;
}
#slogan {
  width: 400px;
  height: 100px;
  border-radius: 70px;
  padding: 0 5px;
  margin: -220px auto;
  position: relative;
  left: -425px;
}

#one{
  width: 310px;
  height: 100px;
  border-radius: 110px;
  padding: 0 40px;
  margin: 125px auto;
  position: relative;
  left: 420px;
}

#two{
  height: 50px;
  padding: 0 20px;
  margin: -35px auto;  
}

#change {
  padding: 30px 0;
}
#costarica{
  margin-left: 100px;
}

