body {
  background: url("http://upload.wikimedia.org/wikipedia/commons/9/94/Pacific-centric-map.png") no-repeat center fixed;
  background-size: cover;
}

p {
  font-size: 28px;
  color: rgb(29,108,186);
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  background: rgba(21,199,69,.7);
}

h1 {
  font-family: 'Chewy', cursive;
  font-size: 70px;
  padding: 80px 0;
  text-align: center;
  color: rgba(18,66,27,.85)
}
a {
  font-size: 22px;
  color: rgb(29,108,186);
  font-family: 'Kaushan Script', cursive;
}
ul {
  padding: 10px;
}
li {
  display: inline-block;
  padding: 40px 60px 0 60px;
}
img {
  width: 200px;
  border: 15px solid rgb(145,21,199);
  border-radius: 20px;
}
.size {
  width: 300px;
}

#allonsy {
  background: -webkit-radial-gradient(circle, rgba(29,108,186,1) 25%, transparent 75%), transparent;
  background: -moz-radial-gradient(circle, white 15%, transparent 40%), #cc5;
  background: radial-gradient(circle, rgba(18,66,27,1) 15%, transparent 40%);
  height: 250px;
  width: 250px;
  border-radius: 200px;
  margin: -35px auto;
}
#slogan {
  padding: 15px 10px;  
  width: 400px;
  border-radius: 100px;
}

#one{
  width: 400px;
  border-radius: 100px;
  padding: 1em .5em;
}

#two{
  padding: .5em 0 0 0;
  margin: 0 auto;
}

#end {
}

#france {
  margin-left: 290px;
  margin-right: 100px;
}

#bigger {
  font-size: 28px;
}
