*{margin:0;padding:0;box-sizing:border-box;}
p+a {
	display: block;
	float: right;
	margin: 1em;
	margin-top: 0;
	text-decoration: underline;
}
p+p {
	margin-top: 1.5em;
}
body {
	background-color: #fff59d;
	font-family: "Coming Soon", cursive;
	font-weight: bold;
	font-size: 22px;
	line-height: 150%;
}
header {
	background-color:#E78449;
}
nav {
	background-color: #FE3C2F;
}
nav a {
	font-size: 1.5em;
	display: block;
	float: left;
	padding: .3em;
	margin: 0 2em;
}
/*section {
	float: left;
}*/
aside a {
	padding: .5em;
}

aside a:hover {
	text-decoration: underline;
}
h1 {
	font-family: "Fontdiner Swanky", cursive;
	font-size: 3em;
	text-align: center;
	padding: 1em;
}
h2 {
	font-size: 2em;
	padding: 1em;
}
h3 {
	font-size: 1.5em;
	margin-bottom: .8em;
	padding: .33em;
}
h4 {
	font-size: 1.2em;
	text-decoration: underline;
	margin-top: 4em;
}
a {
	text-decoration: none;
	color: black;
}
nav a:first-child{
	padding-left: 15%;
}
a:hover {
	color: #e5d5ff;
}
ul {
	list-style-type: none;
}
ol {
	float: right;
	font-family:"Josefin Slab", serif;
}
p {
	padding: .5em;
	font-family: "Josefin Slab", serif;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #A854FC;
}

#blog, #patterns, #recipes {
	padding: 1em;
	background-color: #fff;
}
#blog img{
	width: 62%;
	float: left;
}
#patterns img {
	float: left;
	margin: 1em;
	width: 100%;
	border: .5em solid #fff;
}
#patterns img:hover{
	border: .5em solid #fe473c;
}
#recipes img {
	float: left;
	padding: 2em;
	width: 30%;
}
#recipes a, #patterns a {
	display: block;
	float: left;
	margin: 0 2em 2em 0;
	border: .5em solid #fff;
}
.menu{
	width:19%;
	background-color: #A854FC;
	float: left;
	color: #fff;
	padding: 1.5em;
}
.menu a {
	color: #fff;
	margin-bottom: 1em;
}
.menu li{
	padding-left: 1.3em;
	margin-bottom: 1em;
}
.center{
	width: 62%;
	background-color: #fff;
	float: left;
	padding: 1em;
}
.center *{
	padding: 1em;
}
.center img {
	width:50%;
	margin: .5em;
}
.right {
	float: right;
}
.left {
	float: left;
}

.links {
	width:19%;
	background-color: #A854FC;
	float: left;
	padding: 1.5em;
}
.links a {
	display: inline-block;
	color: #fff;
}
.links img {
	width: 100%;
}
.links img+a{
	margin-top: 1em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}