*{margin:0;padding:0;box-sizing:border-box;}
p+a {
	display: block;
	float: right;
	margin: 1em;
	margin-top: 0;
}
p+p {
	margin-top: 1.5em;
}
body {
	background-color: #fff59d;
	font-family: "Goudy Bookletter 1911", serif;
	font-weight: bold;
	font-size: 22px;
	line-height: 150%;
}
header {
	background-color:#E78449;
}
header p {
	font-family: "Fontdiner Swanky", cursive;
	font-size: 3em;
	text-align: center;
	padding: 1em;
}
nav {
	background-color: #FE3C2F;
}
nav a {
	font-size: 1.5em;
	display: block;
	float: left;
	padding: .3em;
	margin: 0 2em;
	font-family: "Goudy Bookletter 1911", serif;
}

h1 {
	font-size: 2.2em;
}
h2 {
	font-size: 1.9em;
	margin-bottom: .8em;
}
h3 {
	font-size: 2em;
	text-decoration: underline;
	margin-top: 3em;
	margin-bottom: 1em;
}
a {
	text-decoration: none;
	color: black;
	font-family: "Quattrocento", sans-serif;
}
nav a:first-child{
	padding-left: 15%;
}
a:hover {
	text-decoration: underline;
}

ol {
	font-family:"Quattrocento", sans-serif;
	padding: 1em;
}
.ingredients {
	float: right;
	width: 50%;
	padding-left: 2em;
	line-height: 200%;
}
p {
	font-family: "Quattrocento", sans-serif;
	font-weight: 400;
}
.directions {
	clear:both;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
	background-color: #A854FC;
	box-shadow: .1em .5em .5em .3em rgba(119,102,119,1);
}

#blog, #patterns, #recipes {
	padding: 1.5em;
	background-color: #fff;
}
#blog img{
	width: 62%;
	float: left;
	padding-right: 2em;
}

#patterns img {
	width: 100%;
	border: .5em solid #fff;
}
#patterns img:hover{
	border: .5em solid #fe473c;
}
#recipes img {
	width: 100%;
	border: .5em solid #fff;
}
#recipes img:hover{
	border: .5em solid #fe473c;
}
#recipes a, #patterns a {
	display: block;
	float: right;
	border: .5em solid #fff;
	width: 33.33%;
	text-align: right;
	padding-right: 2em;
	padding-left: 2em;
}
.h3link {
	font-size: 2em;
	text-decoration: underline;
	float: none;
}
.menu{
	width:19%;
	background-color: #A854FC;
	float: left;
	color: #fff;
}
.menu a {
	color: #fff;
}
.menu li{
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1.5em;
}
.indent {
	margin-left: 1.3em;
}
.menu ul {
	margin-top: 1.5em;
}
ul {
	list-style-type: none;
}
.center{
	width: 62%;
	background-color: #fff;
	float: left;
	padding: 2em;
}
.center img {
	width:50%;
}
.separator {
	margin-top: 4em;
}
.right {
	float: right;
	padding-left: 1em;
}
.left {
	float: left;
	padding-right: 1em;
}

.links {
	width:19%;
	background-color: #A854FC;
	float: left;
	padding: 1.3em;
}
.links a {
	display: inline-block;
	color: #fff;
}
.links img {
	width: 100%;
	margin-bottom: 3em;
}
.links img+a{
	margin-top: 1em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}