*{margin:0; padding:0; box-sizing: border-box;}

body {
	/*background-image: url("file:///Users/kristinaclark/Desktop/teaching%20in%20france/secondes%202016-2017/jeopardy/images/redBackground.png");*/
	background-color: #6C2F2A;
	background-image: url("https://drive.google.com/open?id=0ByCgMCpUr9JndkM5VTFJOHRUSVU");
	background-size: cover;
	background-position: center;
	font-size: 20px;
	padding-right: 1em;
	padding-left: 1em;
}

article {
	-webkit-box-shadow: 4px 3px 29px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 3px 29px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 3px 29px 0px rgba(0,0,0,0.75);
}

h1 {
	font-family: "Goudy Old Style", serif;
	color: #FFDDBD;
	text-align: center;
	font-size: 5em;
	margin-bottom: .1em;
}

p {
	width: 16.66%;
	border: .2em solid #A6AAA9;
	background: -webkit-linear-gradient(bottom, rgb(13,108,191), rgb(71,160,236));
	float: left;
	color: #DCBC44;
	text-align:center;
	font-family: sans-serif;
	font-size: 2.75em;
}

a {
	text-decoration: none;
	color: #DCBC44;
}


.visitedP {
	color: #5C4F1D;
	background: #16456C;
	/*color: #8F781E;
	background: #20659F;*/
	border: .2em solid #555;
	/*color: rgba(0,0,0,0);
	background: rgba(0,0,0,0);
	border: .2em solid rgba(0,0,0,0);*/
}
.visitedA{
	color: #5C4F1D;
	/*color: #8F781E;*/
}

.title {
	font-size: 2em;
	margin-bottom: .5em;
}

img {
	display: none;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}