*{margin:0; padding:0; box-sizing: border-box;}
body {
	font-family: "Poiret One", cursive;
	font-size: 20px;
	background-color: rgba(255,247,98,.2);
}
.wrapper {
	padding-top: 2.2em;
	width: 80%;
	margin: 0 auto;
	-webkit-box-shadow: 0px 3.8em 20px 10px rgba(153,154,170,1);
	-moz-box-shadow: 0px 3.8em 20px 10px rgba(153,154,170,1);
	box-shadow: 0px 3.8em 20px 10px rgba(153,154,170,1);
	background-color: #fff;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{
	color: #08A3AA;
}

ul {
	list-style-type: none;
	margin: 0 auto;
}
.mainmenu {
	width: 100%;
}
nav {
	background: -webkit-linear-gradient(top, rgba(11,216,243,1), rgba(11,216,243,.6));
	background: -moz-linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	background: linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	padding-left: 13%;
	z-index: 5;
	position: fixed;
	width: 100%;
	margin: 0 auto;
}
nav a {
	color: #fff;
	padding: 0 1em;
	border-left: .35em solid transparent;
	border-right: .35em solid transparent;
	border-bottom: .35em solid transparent;
}
nav ul {
	display: block;
}
nav>ul>li {
	width: 20%;
	padding-top: .62em;
	float: left;
}
nav>ul>li>a {
	float: left;
	/*margin-right: 3em;*/
	padding: .1em;
	color: #fff;
	transition:all linear 0.15s;
}
nav>ul>.pulldown {
	position: relative;
}
nav a:hover {
	/*text-decoration: underline;*/
	border-left: .35em solid #E8A74D;
	border-right: .35em solid #E8A74D;
	border-bottom: .35em solid #E8A74D;
	color: white;
}
nav .arrow {
	font-size: .75em;
	line-height: 0%;
}
.submenu {
	/*position: fixed;*/
	position: absolute;
	top: 100%;
	left: 0;
	background: rgba(225,89,0,.7);
	width: 7em;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
}
nav li:hover .submenu{
	z-index:5;
	opacity: 1;
}
.submenu li {
	display: block;
	margin: .5em;
}
section {
	float: left;
}

ul { 
	width: 100%;
}
#splash {
	color: #fff;
	background: url("images/bannerpic.jpg") no-repeat center fixed;
	background-size: cover;
	width: 100%;
	position: relative;
}

#splash img {
	width:100%;
	height: 12em;
	position: absolute;
	top:0;
	left:0;
	z-index: -4;
}
#splash p {
	color: #fff;
	font-size: 5em;
	float: right;
	margin: .06em .5em;
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	font-style: italic;
	text-shadow: 1px 1px 1px #002b2e;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
#countrylist {
	float: left;
	width: 20%;
	padding: 1em;
	border-right: .2em solid rgba(11,216,243,.2);
}

.country {
	margin: 2em 0 .6em 1em;
	font-weight: bold;
	font-size: 1.3em;
}
#countrylist>ul>li {
	margin-top:.5em;
}
.city {
	margin-left: 2em;
	margin-bottom: .6em;
}
.center {
	float: left;
	width: 80%;
	padding: 1.5em;
}
h1 {
	font-size: 3em;
	margin-bottom: 1em;
	text-align: center;
}
h2 {
	font-size: 2em;
	margin-bottom: 1em;
}
article p {
	float: right;
	width: 50%;
	font-family: "Lora", serif;

}
.center img {
	width: 40%;
	float: left;
	margin-right: 2em;
}

#headertest {
	background: #222222;
	/*position: relative;
	top: 4em;*/
	padding-right: 1.3em;
}
#headertest img {
	float: left;
	width: 14.28%;
	padding: 0 0 .75em 1.3em;
}

#headertest p {
	padding: .975em;
	color: #fff;
	font-size: 1.5em;
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}