
*{margin:0; padding:0; box-sizing: border-box;}

body {
	font-family: "Poiret One", cursive;
	font-size: 20px;
}
.mainmenu {
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(11,216,243,1), rgba(11,216,243,.8));
	background: -moz-linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	background: linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	position: fixed;
	z-index: 1;
	padding: .3em;
}
nav {
	width: 100%;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #222;
}
nav>ul>li {
	float: left;
	width: 16.66%;
	text-align: center;
	border-right: .2em solid #e8a74d;
}
nav>ul>li+li{
	padding-top: .4em;
	padding-bottom: .4em;
}
nav>ul>li:first-child {
	color: #fff;
	font-size: 1.5em;
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
	border-right: none;
	/*padding-top: .1em;
	padding-bottom: .1em;*/
}
nav>ul>li:nth-child(2){
	border-left: .2em solid #e8a74d;
}
nav>ul>li>a {
	color: #fff;
	padding: .5em .5em .2em .5em;
	border-bottom: .3em solid transparent;
	width: 100%;
}
nav>ul>li>a:hover{
	text-decoration: underline;
	color: #056773;
}
nav>ul>.pulldown {
	position: relative;
}
nav .arrow {
	font-size: .75em;
}
.submenu {
	position: absolute;
	top: 32px;
	left: 0;
	background: rgba(232,167,77,1);
	padding: 0 .5em .5em;
	z-index: -1;
	opacity: 0;
	transition: opacity linear 0.15s;
	width: 100%;
}
nav li:hover .submenu {
	z-index: 5;
	opacity: 1;
	transition:all linear 0.15s;
}
.submenu li {
	display: block;
	text-align: left;
	margin-top: .5em;
}
.submenu ul {
	margin: 1em;
}
.submenu a {
	color: #fff;
	text-decoration: none;
	padding: .5em;
}
.submenu a:hover {
	text-decoration: underline;
	color: #805C2A;
}
.wrapper {
	position: relative;
	top: 2.5em;
}
.coolheader {
	width: 100%;
	background-color: #222;
	position: relative;
}
header {
	background: #222222;
	padding: 1em 1.3em 1em 0;
	width: 81%;
	float: left;
	position: relative;
	left: 9.5%;
}
header img {
	float: left;
	width: 11.11%;
	padding-left: 1.3em;
}

header p {
	padding: .25em .975em .25em;
	color: rgb(11,216,243);
	/*text-shadow: 1px 1px 2px #DDDDDD;*/
	font-size: 1.5em;
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
}
.countrylist {
	float: left;
	width: 19%;
	border-right: .2em solid #e8a74d;
}
.countrylist a:hover{
	color: #09ABC0;
	text-decoration: underline;
}

.country {
	margin: 2em 0 .6em 1em;
	font-weight: bold;
	font-size: 1.3em;
}
.countrylist>ul>li {
	margin-top:.5em;
}
.city {
	margin-left: 2em;
	margin-bottom: .6em;
}
.contact {
	float: right;
	width: 19%;
	border-left: .2em solid #e8a74d;
}
.contact img {
	width: 60%;
	display: block;
	margin: 0 auto;
	border-radius: 20em;
	margin-top: .65em;
}
.contact p {
	font-size: 1em;
	padding: 1em 1.5em 0 1.5em;
	line-height: 150%;
	text-align: center;
}
.contact p+p{
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
	font-size: 1.8em;
	padding-top: .3em;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}