
*{margin:0; padding:0; box-sizing: border-box;}

body {
	font-family: "Ubuntu", sans-serif;
	font-weight: 300;
	font-size: 20px;
}
.mainmenu {
	width: 100%;
	background: -webkit-linear-gradient(top, rgba(11,216,243,1), rgba(11,216,243,.8));
	background: -moz-linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	background: linear-gradient(top, rgba(0,89,93,1), rgba(0,89,93,.7));
	background-color: rgb(11,216,243);
	position: fixed;top:0;left:0;right:0;
	z-index: 1;
	padding: .3em;
}
nav {
	width: 100%;
}
ul {
	list-style-type: none;
	float: left;
	width: 85.72%;
}
a {
	text-decoration: none;
	color: #222;
}
nav>ul>li {
	float: left;
	width: 16.66%;
	text-align: center;
	border-left: .2em solid #e8a74d;
	padding-top: .4em;
	padding-bottom: .4em;
}
nav>p {
	color: #fff;
	font-size: 1.5em;
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
	border-right: none;
	border-left: none;
	width: 14.28%;
	float: left;
	text-align: center;
}

nav>ul>li>a {
	color: #fff;
	padding: .5em .5em .2em .5em;
	border-bottom: .3em solid transparent;
	width: 100%;
}
nav>ul>li>a:hover{
	text-decoration: underline;
	color: #056773;
}
nav>ul>.pulldown {
	position: relative;
}
nav .arrow {
	font-size: .75em;
}
.submenu {
	position: absolute;
	top: 32px;
	left: 0;
	background: rgba(232,167,77,1);
	padding: 1em .5em .5em 1em;
	z-index: -1;
	width: 100%;
}
nav li:hover .submenu {
	transition:all linear 0.15s;
}
.submenu li {
	display: block;
	text-align: left;
	padding-right: .5em;
	padding-bottom: .75em;
}

.submenu a {
	color: #fff;
	text-decoration: none;
}
.submenu a:hover {
	text-decoration: underline;
	color: #805C2A;
}

.wrapper {
	position: relative;
	top: 2.6em;
	width: 85%;
	-webkit-box-shadow: 0px .7em 1em .5em rgba(153,154,170,1);
	-moz-box-shadow: 0px .7em 1em .5em rgba(153,154,170,1);
	box-shadow: 0px .7em 1em .5em rgba(153,154,170,1);
	margin: 0 auto;
	border-right: .4em solid #333;
	border-left: .4em solid #333;
}
.coolheader {
	width: 100%;
	background-color: #333;
	position: relative;
	
}
header {
	background: #333;
	padding: 1em 1.3em 1em 0;
	width: 90%;
	float: left;
	position: relative;
	left: 5%;
}
header img {
	float: left;
	width: 11.11%;
	padding-left: 1.3em;
}

header p {
	padding: .25em .975em .25em;
	color: rgb(11,216,243);
	/*text-shadow: 1px 1px 2px #DDDDDD;*/
	font-size: 1.5em;
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
}
.countrylist {
	float: left;
	width: 30%;
	padding-top: 3em;
	
	margin-top: 5.85em;
}
.countrylist a:hover{
	color: #09ABC0;
	text-decoration: underline;
}
.countrylist img {
	width: 50%;
	display: block;
	margin: -5em auto 0;
	border-radius: 20em;
}
.countrylist p {
	font-size: 1em;
	font-family: "Kameron", serif;
	padding: 1em 1em 0 1em;
	line-height: 150%;
	text-align: center;
}
.countrylist p+p{
	font-family: "Lobster Two", cursive;
	font-weight: 700;
	font-style: italic;
	font-size: 1.5em;
	padding: .3em .8em 0 .8em;
}

.country {
	margin: 2em 0 .6em 1em;
	font-weight: bold;
	font-size: 1.3em;
}
.countrylist li {
	margin-top:.5em;
}
.city {
	margin-left: 2em;
	margin-bottom: .6em;
}
.city+.country {
	margin-top: 2em;
}

.center{
	width: 70%;
	float: left;
	border-right: .1em solid #999;
}
.imagelink {
	width: 50%;
	float: left;
	padding: 1em;
}
h1 {
	font-size: 3em;
	font-weight: 700;
	width: 100%;
	background-color: #333;
	color: #0bd8f3;
	padding: .2em .5em .2em;
	border-bottom: .4em solid #e8a74d;
}
h2 {
	font-weight: 700;
	font-size: 1.5em;
	background-color: #333;
	color: #0bd8f3;
	width: 100%;
	border-bottom: .4em solid #e8a74d;
	padding: 1.333em 1em .966em;
}
h3 {
	font-family: "Kameron", serif;
	margin: 1.5em 0 .666em 0;
	font-size: 1.5em;
	padding-left: .666em;
}
.countrylist h3 {
	margin-top: 4em;
	font-size: 1.5em;
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	padding-left: .8em;
	margin-bottom: .2em;
}
#traveltips h3 {
	margin-top: 1.5em;
	margin-bottom: .666em;
}
#touristing h3 {
	margin-bottom: 0;
}
.center>article {
	margin-bottom: 4em;
}
#traveltips img {
	width: 80%;
	display: block;
	margin: 0 auto;
}
#traveltips a {
	float: right;
	font-family: "Kameron", serif;
	margin: .666em 3em 1.5em 0;
	font-size: 1.5em;
}
#traveltips a:hover {
	color: #09ABC0;
	text-decoration: underline;
}
#touristing img {
	width: 100%;
	border-radius: .2em;
}
#touristing p {
	font-family: "Kameron", serif;
	padding: 1.5em;
	font-size: 1.5em;
}
.pleasework {
	position: relative;
}
.pleasework h4 {
	font-family: "Ubuntu", sans-serif;
	color: #1E5A19;
	font-size: 3.5em;
	line-height: 175%;
	position: absolute;
	top: 0;
	left: 0;
	padding: .25em .3em;
	text-align: center;
}
.endbar {
	width: 62%;
	border-top: .1em solid #777777;
	border-bottom: .1em solid #777777;
	border-radius: .1em;
	clear: both;
	margin: 50px auto;
}
.inlinelink {
	float: none;
	padding: 0; 
}
#stories {
	width: 100%;
}
.articlelist {
	width: 33.33%;
	padding: 0 1em 2em 1em;
	float: left;
}

.articlelist>a>img {
	width: 100%;
	border-radius: .2em;
	padding-bottom: 1em;
}
.articlelist p {
	font-size: 1em;
	text-align: center;
	font-weight: 700;
}
.contact {
	float: right;
	width: 19%;
}



.mobile-nav {
	display: none;
}
.menu-btn {
	background: rgb(11,216,243);
	padding: 1em;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: .4em;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 1em;
	font-weight: 300;
	vertical-align: middle;
	z-index: 99;
}
.menu-btn span {
	display: block;
	width: 2em;
	height: .2em;
	margin: .2em 0;
	background: rgb(255,255,255);
	z-index: 99;
}
.responsive-menu{
	display: none;
}
.expand {
	display: block !important;
	background: rgb(11,216,243);
	padding: 1em;
}
.responsive-menu ul{
	list-style-type: none;
}




@media only screen and (max-width: 1212px) and (min-width: 1192px) {
	nav a {
		font-size: .9em;
	}
}
@media only screen and (max-width: 1191px) and (min-width: 1096px) {
	h1 {
		font-size: 2.7em;
	}
	nav a {
		font-size:.9em;
	}
}
@media only screen and (max-width: 1095px) and (min-width: 979px)  {
	nav a {
		font-size: .8em;
	}
	h1 {
		font-size: 2.5em;
	}
	
}
@media only screen and (max-width: 978px) and (min-width: 923px) {
	body {
		font-size: 16px;
	}
	nav>ul>li:first-child, nav>ul>li:last-child {
		width: 14.66%;
	}
	nav>ul>li:nth-child(2), nav>ul>li:nth-child(3), nav>ul>li:nth-child(4), nav>ul>li:nth-child(5) {
		width: 17.66%;
	}
	nav a {
		font-size: 1em;
	}
	.wrapper {
		top: 2.53em;
	}
	header {
		width: 100%;
		left: 0;
	}
	h1 {
		font-size: 2.75em;
	}
	.countrylist p {
		font-size: 1.1em;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
}


@media only screen and (max-width: 922px) and (min-width: 738px) {
	body {
		font-size: 16px;
	}
	.mobile-nav {
		display: block;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	nav {
		display: none;
	}
	.wrapper {
		width: 100%;
		box-shadow: none;
	}
	header {
		width: 100%;
		left: 0;
	}
	h1 {
		font-size: 2.75em;
	}
	.countrylist p {
		font-size: 1.1em;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
}


@media only screen and (max-width: 737px) and (min-width: 601px) {
	body {
		font-size: 16px;
	}
	.mobile-nav {
		display: block;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	nav {
		display: none;
	}
	.wrapper {
		width:100%;
		box-shadow: none;
		border: none;
	}
	.coolheader {
		display: none;
	}
	.center {
		width: 100%;
		border:none;
	}
	h1 {
		font-size: 2.75em;
	}
	
	.imagelink {
		width: 60%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	.articlelist {
		width: 50%;
		padding: 1.5em;
	}
	.turnoff {
		display:none;
	}
	
	#albums {
		border-bottom: 3em solid #333;
	}
	.countrylist {
		width: 100%;
		padding-top: 0;
	}
	.countrylist img {
		width: 40%;
		margin-top: -6.5em;
		margin-bottom: 1.75em;
	}
	.countrylist p {
		font-size: 1.1em;
		width: 70%;
		margin: 0 auto;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
	.countrylist h3 {
		margin-bottom: 1.5em;
	}
	.countrylist ul {
		width: 33.33%;
		float: left;
		border-right: .1em solid #999;
	}
}
@media only screen and (max-width: 600px) and (min-width: 484px) {
	body {
		font-size: 16px;
	}
	.mobile-nav {
		display: block;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	nav {
		display: none;
	}
	.wrapper {
		width:100%;
		box-shadow: none;
		border: none;
	}
	.coolheader {
		display: none;
	}
	.center {
		width: 100%;
		border:none;
	}
	h1 {
		font-size: 2.75em;
	}
	
	.imagelink {
		width: 80%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	.articlelist {
		width: 50%;
		padding: 1.5em;
	}
	.turnoff {
		display:none;
	}
	#albums {
		border-bottom: 3em solid #333;
	}
	.countrylist {
		width: 100%;
		padding-top: 0;
	}
	.countrylist img {
		width: 40%;
		margin-top: -6.5em;
		margin-bottom: 1.75em;
	}
	.countrylist p {
		font-size: 1.1em;
		width: 70%;
		margin: 0 auto;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
	.countrylist h3 {
		margin-bottom: 1.5em;
	}
	.countrylist ul {
		width: 50%;
		float: left;
		border-right: .1em solid #999;
	}
} 
@media only screen and (max-width: 483px) and (min-width: 353px) {
	body {
		font-size: 16px;
	}
	.mobile-nav {
		display: block;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	nav {
		display: none;
	}
	.wrapper {
		width:100%;
		box-shadow: none;
		border: none;
	}
	.coolheader {
		display: none;
	}
	.center {
		width: 100%;
		border:none;
	}
	h1 {
		font-size: 2em;
	}
	
	.imagelink {
		width: 90%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	.articlelist {
		width: 50%;
		padding: 1.5em;
	}
	.turnoff {
		display:none;
	}
	#albums {
		border-bottom: 3em solid #333;
	}
	.countrylist {
		width: 100%;
		padding-top: 0;
	}
	.countrylist img {
		width: 40%;
		margin-top: -6.5em;
		margin-bottom: 1.75em;
	}
	.countrylist p {
		font-size: 1.1em;
		width: 90%;
		margin: 0 auto;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
	.countrylist h3 {
		margin-bottom: 1.5em;
	}
	.countrylist ul {
		width: 50%;
		float: left;
		border-right: .1em solid #999;
	}
}
@media only screen and (max-width: 352px) {
	body {
		font-size: 16px;
	}
	.mobile-nav {
		display: block;
		position:fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	nav {
		display: none;
	}
	.wrapper {
		width:100%;
		box-shadow: none;
		border: none;
	}
	.coolheader {
		display: none;
	}
	.center {
		width: 100%;
		border:none;
	}
	h1 {
		font-size: 1.75em;
	}
	
	.imagelink {
		width: 95%;
		float: none;
		display: block;
		margin: 0 auto;
	}
	.articlelist {
		width: 50%;
		padding: 1.5em;
	}
	.turnoff {
		display:none;
	}
	#albums {
		border-bottom: 3em solid #333;
	}
	.countrylist {
		width: 100%;
		padding-top: 0;
	}
	.countrylist img {
		width: 40%;
		margin-top: -6.5em;
		margin-bottom: 1.75em;
	}
	.countrylist p {
		font-size: 1.1em;
		width: 70%;
		margin: 0 auto;
	}
	.countrylist p+p {
		font-size: 1.6em;
	}
	.countrylist h3 {
		margin-bottom: 1.5em;
	}
	.countrylist ul {
		width: 100%;
	}
}

.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
